body {
  margin: 0;
  font-family: Inter, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #d8d8d8;
}

#root {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  flex: 1 0 auto;
}

.loader {
  display: flex;
  flex: 9 1 0;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
  display: flex;
  flex: 9 1 0;
  justify-content: center;
  align-items: center;
}

/* NAVBAR STYLES */

.navbar {
  z-index: 1;
  background-color: #d8d8d8;
  color: white;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  justify-items: center;
  height: 40px;
}

.logo-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  gap: 30px;
  color: black;
}

.page-title {
  margin: 0;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 8px 4px;
  background-color: #05808c;
  color: white;
  border: 1px solid #05808c;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-button span {
  text-align: center;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}

.dropdown-content-active,
.dropdown-content-inactive {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d8d8d8;
  min-width: 160px;
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #05808c;
  overflow: hidden;
}

.dropdown-content-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.dropdown-content-active a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}

.dropdown-content-inactive {
  display: none;
}

/* PUBLIC PAGE STYLES */

.public {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  height: 88vh;
}

.public h1 {
  font-size: 2.4rem;
  margin: 0;
}

.public h2 {
  font-size: 2rem;
}

.public p {
  font-size: 1.1rem;
}

.public-browse-link {
  text-decoration: none;
  background-color: #05808c;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #05808c;
}

.categories-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.categories {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
}

.categories-middle-line {
  background-color: lightgray;
  width: 2px;
  border-radius: 50%;
}

.category-container {
  display: flex;
  flex-flow: column;
}

.category-cards {
  display: flex;
  flex-flow: row;
  gap: 20px;
  margin-top: 20px;
}

.category-cards a {
  text-decoration: none;
}

.category-card {
  width: 150px;
  height: 200px;
  background-color: #d8d8d8;
  color: black;
  border: 2px solid lightgray;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.6s ease;
}

.category-card-img {
  height: 66%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.category-card-text {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* LOGIN FORM STYLES */

.login-form {
  z-index: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  height: 88vh;
  perspective: 1000px;
}

.login-form h1 {
  margin-top: 100px;
}

.login {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 20px;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: all 0.6s ease;
}

.login.flipped {
  transform: rotateY(180deg);
}

.flip-text {
  cursor: pointer;
  color: #05808c;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  backface-visibility: hidden;
}

.form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #05808c;
  border-radius: 8px;
}

.form button {
  align-self: center;
  border: 1px solid #05808c;
  color: #05808c;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.form.back {
  transform: rotateY(180deg);
  height: 300px;
}

.flip-text {
  margin: 0;
}

.leaflet-container {
  height: 400px;
  width: 400px;
  overflow: hidden;
  border: 2px solid #05808c;
}

/* ABOUT STYLES */

.about-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.about-page h1,
p {
  margin: 15px;
}

/* SEARCH PAGE STYLES */

.board-games-page {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-self: center;
}

.search-bar {
  margin: 20px;
  flex: 2 1 0;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  height: fit-content;
}

.search-bar h4 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.search-bar h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #05808c;
  gap: 5px;
  padding-top: 20px;
  font-size: 1rem;
}

.filters label {
  cursor: pointer;
}

.filters input {
  margin-right: 10px;
}

.games-list {
  flex: 9 1 0;
  display: flex;
  flex-direction: column;
}

.games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.games-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.games-search-bar input {
  border-radius: 10px;
  border: 1px solid #05808c;
  height: 25px;
  width: 250px;
}

.game {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  padding: 1.5rem;
  border: 1px solid #05808c;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  height: 400px;
  width: 350px;
  border: 1px solid #05808c;
  display: flex;
  flex-direction: column;
}

.game-card a {
  flex: 10 1 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.game-card-img {
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.game-card-details {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.game-card-details p {
  margin-top: 0;
  margin-left: 40px;
}

.game-card-button {
  flex: 1 1 0;
  width: 150px;
  align-self: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #05808c;
  background-color: #05808c;
  color: white;
  margin: 20px;
}

.game-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #05808c;
  margin: 15px;
  margin-left: 25px;
}

.game-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em 1.2em;
  margin-bottom: 1em;
  font-size: 1.05em;
  color: #595959;
}

.genre,
.publisher,
.players,
.playtime,
.difficulty,
.condition {
  background: #edf2fa;
  border-radius: 6px;
  padding: 2px 9px;
}

.description {
  margin-top: 0.8em;
  color: #283044;
  font-size: 1.08em;
  line-height: 1.5;
}

@media (hover: hover) {
  .flip-text:hover {
    font-weight: 500;
  }
  .form button:hover {
    background-color: #05808c;
    color: white;
    cursor: pointer;
  }
  .category-card:hover {
    transform: rotateZ(10deg);
  }
  .public-browse-link:hover {
    background-color: white;
    color: #05808c;
  }
  .public-browse-link:hover {
    background-color: white;
    color: #05808c;
  }
  .dropdown-button:hover {
    background-color: #d8d8d8;
    color: #05808c;
  }
  .dropdown-content-active a:hover {
    background-color: #05808c;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .board-games-page {
    flex-direction: column;
  }

  .games-search-bar {
    flex-direction: column;
    gap: 0;
  }

  .categories {
    flex-direction: column;
  }

  .category-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .categories-middle-line {
    display: none;
  }

  .public {
    text-align: center;
    height: auto;
  }

  .public h1 {
    margin-top: 15px;
  }

  .dropdown-content-active,
  .dropdown-content-inactive {
    left: auto;
    right: 0;
  }

  .login-form {
    justify-content: start;
  }

  .login-form h1 {
    margin-top: 50px;
  }

  .dropdown-button {
    transition: none;
  }
}
