name: backendTesting
run-name: ${{ github.actor }} is testing backend
on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 20, 22, 24 ]
    defaults:
      run:
        working-directory: ./backend
    name: Node ${{ matrix.node }} sample
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          
      - name: install dependencies 
        run: npm install
        
      - name: run tests
        run: npm test
